<header class="site-header">
    <div class="site-header__inner">
        <h1 class="site-title">{{ site.title }}</h1>
        <h3 class="site-subtitle">{{ site.description }}</h3>
        <ul class="unstyled social">
            <li><a href="https://github.com/marissajmc" target="_blank" class="icon--github"></a></li>
            <li><a href="https://www.linkedin.com/in/marissajmc" class="icon--linkedin" target="_blank"></a></li>
            <li><a href="http://stackoverflow.com/users/872018/marissajmc" class="icon--stackoverflow" target="_blank"></a></li>
        </ul>
        <nav class="site-navigation">
            {% for item in menu.get_items %}
                <a href="{{ item.get_link }}" class="{{ item.classes|join(' ') }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</header>