<!doctype html>
<html>
<head>
    <meta charset="{{site.charset}}" />
    <title>   
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{{site.theme.link}}/assets/dist/css/style.css">
    <script src="{{site.theme.link}}/assets/dist/js/modernizr.js"></script>
    <script>
        // GA
    </script>
