{% extends "base.twig" %}

{% block content %}

	<section class="l-section l-center-align">
		<h1>{{ post.title }}</h1>
	</section>

	<section class="l-section l-light-container">
		<div class="row collapse-small">
			<div class="columns">

				<ul class="unstyled medium-block-grid-2 large-block-grid-3 project__list">
					{% for item in projects %}

					<li class="project">
						<div class="project__description">
							<a href="{{ item.cta_link }}" target="_blank">
								<img src="{{ item.get_field('screenshot') }}" alt="{{ item.title }} screenshot" class="project__image" />
							</a>
							<h3 class="project__title"><a href="{{ item.cta_link }}" target="_blank">{{ item.title }}</a></h3>
							<ul class="unstyled project__meta">
								<li class="project__category icon 
								{% if item.terms[0].name == "Small business" %} icon--business {% endif %}
								{% if item.terms[0].name == "eDM" %} icon--email {% endif %}
								{% if item.terms[0].name == "Volunteer" %} icon--volunteer {% endif %}">
									{{ item.terms[0].name }}
								</li>
							</ul>
							{{ item.description }}
							<a href="{{ item.cta_link}}" class="button project__cta" target="_blank">{{ item.cta_text }}</a>
						</div>
					</li>

		    		{% endfor %}
				</ul>

			</div>
		</div>
	</section>

{% endblock %}